<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gehitu pertsona</title>
</head>
<body>
    <h2>gehitu pertsona</h2>
    <form action="gehitupertsona/" method="POST">
        {%csrf_token%}
        <label for="">nan: </label>
        <input type="text" name="p_nan" required><br><br>

        <label for="">izena: </label>
        <input type="text" name="p_izena" required><br><br>

        <label for="">abizena: </label>
        <input type="text" name="p_emaila" required><br><br>

        <input type="submit" value="gehitu">
    </form>
</body>
</html>